.saveCurrent {
    @apply w-[90%] mx-auto py-[100px] grid grid-cols-6 lg:grid-cols-12 lg:gap-20 lg:mt-[100px];
}

.saveCurrent .save__left {
    @apply mb-7 col-span-6 lg:mb-0;
}

.save__left h2 {
    @apply text-[28px] mb-4 md:text-[36px] md:mb-6 font-bold lg:mb-8 lg:text-[42px];
}

.save__left p {
    @apply text-[14px] md:text-base mb-4 lg:text-xl;
    color: #8b949e;
}

.saveCurrent .save__right {
    @apply h-[400px] col-span-6 lg:h-[600px] relative;
}

.save__right .saveImg {
    @apply w-[80%] mx-auto block absolute rounded-2xl lg:w-[88%] lg:h-[88%];

    &:first-child {
        @apply object-cover z-20;
    }
    &:last-child {
        width: 120% !important;
        height: 120%;
        @apply top-1/2 left-1/2 z-10;
        transform: translate(-50%, -50%);
    }
}


.save__strong {
    @apply font-medium;
    color: rgb(255, 170, 51);
}

.button.save {
    @apply mt-8;
}